on:
  repository_dispatch:
    types: release

name: Release

permissions: {}
jobs:
  release:
    permissions:
      contents: write
      pull-requests: write

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        ref: main
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Set variables
      id: version
      run: |
        echo "addon=${{ github.event.client_payload.version }}" >> "$GITHUB_OUTPUT"
        echo "version=${{ github.event.client_payload.version }}" >> "$GITHUB_OUTPUT"
    - name: Set version and update release
      run: | 
        jq '.version = "${{ steps.version.outputs.addon }}"' frpc/config.json > frpc/config.json.tmp
        mv frpc/config.json.tmp frpc/config.json
    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "v${{ steps.version.outputs.addon }}"
    - uses: ncipollo/release-action@v1
      with:
        tag: "v${{ steps.version.outputs.addon }}"
        body: "Release version ${{ steps.version.outputs.addon }}"
        token: ${{ secrets.GITHUB_TOKEN }}

